/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-image: url("../images/cover-image-dark.png");
  --background-color: #000028;
  --theme-menu-color: #ff0070;
  --theme-menu-hover-color: #ff007066;
  --corner-color: #ff0070;
  --header-title-color: #db00ff;
  --accent-color: #ff0070;
  --title-decor-color: #000028;
  --underline-color: #f1b2ce;
  --section-title-color: #ff0070;
  --section-card-text-color: #f1b2ce;
}

.theme-dark .header__rec {
  display: inline-block;
}