/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'IBM Plex mono', monospace;
  font-size: var(--main-font-size);
  font-weight: normal;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  min-block-size: 668px;
  padding: var(--page-padding);
  align-items: center;
  margin-block-end: 30px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after,
.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 24px;
  border: 1px solid var(--corner-color);
}

.decorated-zone::after {
  top: 10px;
  right: 10px;
  border-left: none;
  border-bottom: none;
}

.decorated-zone::before {
  bottom: 10px;
  left: 10px;
  border-right: none;
  border-top: none;
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 20px;
  color: var(--accent-color);
  text-transform: uppercase;
}

.header__rec::after {
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  margin-inline-start: 10px;
  margin-block-end: 2px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);

}

.header__theme-menu {
  justify-self: end;
  color: var(--theme-menu-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: 0.5px solid transparent;
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
  padding: 1px 13px 4px 13px;
}
.header__theme-menu-button_active {
  border: 1px solid var(--theme-menu-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color:  var(--theme-menu-hover-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--theme-menu-color);
}

.main__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--header-title-color);
}

.header__title {
  justify-self: flex-start;
  align-self: self-start;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  justify-self: end;
}

.title-decor {
  background-color: var(--accent-color);
  font-weight: bold;
  line-height: 23.4px;
  color: var(--title-decor-color);
}

.title-decor-alt {
  font-weight: normal;
}

.main__content {
  margin-block: 40px;
}

.section {
  padding-inline: var(--page-padding);
  margin-block-end: 50px;
}

.section__card-list {
  display: grid;
  gap: 20px;
}

.section__title {
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 23.4px;
  color: var(--section-title-color);
  margin-block-end: 20px;
}

.section__title_subtitle {
  color: var(--section-title-card-color);
  background-color: var(--accent-color);
}

.section__card-title {
  line-height: 23.4px;
  color: var(--section-title-card-color);
  background-color: var(--accent-color);
  margin-block-end: 10px;
}

.section__card-text {
  line-height: 23.4px;
  color: var(--section-card-text-color);
}

.section__card-link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.section__card-link__text:hover {
  position: relative;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.section__card-link__text:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: var(--underline-color);
}

.section__card-link:focus-visible {
  outline: 1px solid var(--underline-color);
  outline-offset: 2px;
}

.section__gallery {
  display: grid;
  gap: 10px;
}

.gallery__section {
  margin-block: 30px;

}

.section__gallery-image {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (min-width: 768px) {
  :root {
    --page-padding: 20px;
  }

  .header {
    margin-block-end: 60px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  .header__rec {
    top: 20px;
    right: 30px;
  }
  
  .main__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .header__description {
    max-inline-size: 364px;
  }

  .section-why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-block-end: 80px;
  }

  .section__title_position_left {
    max-inline-size: 236px;
  }

  .section-advices {
    display: grid;
    grid-template-columns: 236px 2fr;
    gap: 20px;
    padding-block-start: 30px;
    padding-block-end: 30px;
  }

  .section-advices > .section__title {
    grid-column: 1;
  }

  .section-advices > .section__title_subtitle,
  .section-advices > .section__card-list {
    grid-column: 2;
    align-self: end;
  }

  .section__gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    padding-block: 10px 20px;
  }

  .section__gallery-image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .section__gallery-image:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .section__gallery-image:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .section__gallery-image:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .section__gallery-image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }

}

@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__description {
    max-inline-size: 491px;
  }

  .section-why,
  .section-advices {
    grid-template-columns: 315px 2fr;
  }

  .section-causes .section__title {
    max-inline-size: 315px;
  }

  .section-causes .section__card-list {
    display: flex;
    flex-direction: row;
  }

  .section-causes .section__card {
    min-inline-size: 315px;
  }
}